.articles-wrapper{
    display: flex;
    flex-direction: column;
    gap: 100px;
    background-color: #16161d;
    width: 100%;
    height: max-content;
    max-width: 1440px;
    padding: 5%;
    padding-top: 10%;
}