@import '../../styles/variables.scss';

@keyframes arrow-rotate {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) rotate(45deg);
    background-color: transparent;
  }
}

@keyframes button-fade-in {
  0% {
    width: 200px; 
  }
  100% {
    width: 300px;
  }
}
@keyframes arrow-rotate-reverse {
  0% {
    transform: translateY(-50%) rotate(45deg);
    background-color: transparent;
  }
  100% {
    transform: translateY(-50%) rotate(0deg);
  }
}

@keyframes button-fade-out {
  0% {
    width: 300px;
  }
  100% {
    width: 200px;
  }
}


.button__container {
  position: relative;
  display: inline-flex;
  justify-content: start;
  align-items: start;
  cursor: pointer;
  padding: 5px;
  width: 260px;
  max-width: 260px;
  overflow: hidden;

  &:hover button .arrow-icon-button {
    animation: arrow-rotate 0.2s forwards;
  }

  &:not(:hover) button .arrow-icon-button {
    animation: arrow-rotate-reverse 1s forwards;
  }

  &:hover button {
    animation: button-fade-in 1.0s forwards;
  }

  &:not(:hover) button {
    animation: button-fade-out 0.5s forwards;
  }

  button {
    padding: 5px 10px;
    border-radius: 30px;
    border: 3px solid #000;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #262626;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    background: linear-gradient(to top, $primary-color, $primary-color) no-repeat;
    background-size: 100% 0;
    transition: background-size 0.1s, border-color 0.1s;
    width: 200px;
    max-width: 400px;
    cursor: pointer;

    &:hover {
      background-size: 100% 100%;
    }

    .arrow-icon-button {
      position: absolute;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
      background-color: $primary-color;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      padding: 5px;
      cursor: pointer;
    }
  }
}

.button_style_light {
  width: 370px;
  max-width: 500px;

  button {
    padding-left: 35px;
    padding-right: 35px;
    border: 4px solid $primary-color;
    color: $primary-color;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    transition: background-size 0.5s, border-color 0.5s;
    width: 300px;
    max-width: 400px;
    cursor: pointer;

    &:hover {
      background-size: 100% 100%;
      color: black;
    }

    // Prevent animations on hover or any other state changes
    &:hover, &:not(:hover) {
      animation: none;
    }
    .arrow-icon-button {
      &:hover, &:not(:hover) {
        animation: none;
      }
    }
  }
}
.button_purple{
  button{
    background: linear-gradient(to top, $background-color-purple, $background-color-purple) no-repeat;
    background-size: 100% 0;

    &:hover {
      background-size: 100% 100%;
      color: white;
    }
    .arrow-icon-button{
      background-color: $background-color-purple;
      stroke: white;
    }
  }
}

