.bgDark {
  background-color: #16161d;
}
.bgLight {
  background-color: white;
}
.navWrapper {
  width: 100%;
  transition: background-color 0.3s ease;
  transition: all 1s ease; // هذا سيضمن التحول السلس للخصائص

}
.nav {
  padding: 49px 0px 17px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1184px;
  margin: auto;
  .nav-links {
    display: flex;
    align-items: center;
    gap: 61px;

    p {
      font-size: 16px;
      font-weight: 500;
    }
  }
  .buttonWrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    .button {
      background-color: transparent;
      color: white;
      border: solid 2px white;
      outline: none;
      padding: 10px 15px;
      border-radius: 30px;
      cursor: pointer;
    }
  }
  .nav {
    transition: transform 0.3s ease;

    &.fixed {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 10;
      transform: translateY(0);
    }
  }
}
.navEffect{
  position: fixed;
  width: 100%;
  background-color: #16161d;
  z-index: 100;
  box-shadow: 2px 2px 5px 5px  rgba($color: #000000, $alpha: 0.1);
}