.startProj__container {
    overflow: hidden;
    width: 100%;
    height: 110vh;
    margin: 100px auto;
    display: grid;
    grid-template-columns: 40% 1fr;
    /* يحدد عمودين، الأول بعرض 40% والثاني يأخذ المساحة المتبقية */
    grid-template-rows: auto auto auto auto;
    /* يحدد أربعة صفوف بارتفاع تلقائي */
    gap: 20px;

    /* المسافة بين الأعمدة والصفوف */
    .startProj__right {
        display: flex;
        flex-direction: column;
        grid-column: 1;
        /* يضع startProj__right في العمود الأول */
        grid-row: 1 / span 5;
        gap: 30px;

        /* يمتد على طول الأربعة صفوف */
    }

    .startProj__left {
        grid-column: 2;
        /* يضع startProj__left في العمود الثاني */
        grid-row: 5 / span 5;
        /* يوضع في الصف الأول */
        background-color: black;
        padding: 30px 30px 30px 71px;
        /* الأعلى، اليمين، الأسفل، اليسار */
        width: 567px;
        height: 431px;
        max-width: 567px;
        max-height: 431px;
        border-radius: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 100px;

        h1 {
            color: #BBE903;
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            line-height: 40px;
            /* 92.188% */
            text-transform: uppercase;
            font-size: 40px;
            overflow: hidden;
        }
    }
}

.startProj__right,
.startProj__left {
    /* يمكنك إضافة أي تنسيقات خاصة بـ startProj__right و startProj__left هنا */
}

/* تعديلات إضافية حسب الحاجة لتحديد كيفية توزيع العناصر داخل الشبكة */



@media screen and (min-width: 1441px) {
    .startProj__container {
        height: 70vh;

        /* يمكنك تعديل الخصائص هنا لتناسب الشاشات الكبيرة جدًا */
        .startProj__left {
            grid-row: 3;
            /* يوضع في الصف الأول */
            height: 500px;

            h1 {
                color: #BBE903;
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                line-height: 40px;
                /* 92.188% */
                text-transform: uppercase;
                font-size: 40px;
            }

        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .startProj__container {
        display: grid;
        grid-template-columns: 50% 1fr;
        grid-template-rows: auto auto auto auto;
        width: 100%;
        height: fit-content;
        margin: 100px auto;
        background-color: #060607;
        border-radius: 50px;
        padding-left: 82px;
        padding-right: 82px;
        padding-top: 134px;
        padding-bottom: 130px;

        .startProj__box__tablet {
            grid-row: 1;
            grid-column: 1 / span 2;

            h1 {
                color: #BBE903;
                font-family: Poppins;
                font-size: 60px;
                font-style: normal;
                font-weight: 600;
                line-height: 67.532px;
                /* 112.553% */
                text-transform: uppercase;
                min-width: 683px;
                max-width: 683px;
                overflow: hidden;

                @media screen and (min-width:1024px) and (max-width:1080px) {
                    font-size: 78px;
                    max-width: 900px;

                }
            }

            .startProj__button {
                margin-top: 130px;
                display: flex;
                gap: 140px;
                @media screen and (min-width:1024px) and (max-width:1080px) {
                    gap: 260px;

                }


                p {
                    color: #FFF;
                    font-family: 'Danube', sans-serif;
                    font-size: 48.506px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            .button__container {


                button {
                    display: flex;
                    align-items: flex-start;
                    gap: 11.446px;
                    color: #BBE903;
                    font-size: 27px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20.603px;
                    padding: 15.471px 40.941px;
                    text-transform: uppercase;
                    border-radius: 68.676px;

                    @media screen and (min-width: 768px) and (max-width: 820px) {
                        font-size: 20px;
                    }
                }

                .arrow-icon-button {
                    width: 67.532px;
                    height: 67.532px;
                }
            }

            p {
                font-size: 20px;
                font-weight: 600;
            }
        }


        .startProj__subMenu {
            grid-row: 5;
            grid-column: 2;
            overflow: visible;

            .SubMenu-container {
                .SubMenu-icon-container {
                    .SubMenu-icon {

                        &.active,
                        &:hover {

                            background-color: #BBE903;
                            stroke: #16161D;

                            svg {
                                stroke: #16161D;
                            }

                            // تأثيرات الـ hover لـ .SubMenu-text

                        }
                    }

                    .SubMenu-text{
                        font-weight: 400;

                        .Sub-text {
                            max-width: 209px;
                            min-width: 209px;
                            color: white;
                            font-family: Poppins;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: normal;    
                            .Main-text {
                                font-size: 30px;
                            }
    

                        }
                        .underline {
                            height: 2px;
                            width: 70%;
                            background-color: white;
                            margin-bottom: 2px;
                        }
                    }

                }

                .Main-text {
                    color: white;
                }
            }

        }

        .startProj__text {
            grid-row: 5;
            grid-column: 1;
            align-self: center;
            gap: 10px;
            display: flex;
            flex-direction: column;
            .star{
                stroke: #BBE903;
            }


            h1 {
                color: #BBE903;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            p {
                color: #FFF;
                font-family: Poppins;
                font-size: 19px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .startProj__container{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .startProj__subMenu {
            min-width: 290px;
            max-width: 290px;

            .SubMenu-icon-container {


 
                .SubMenu-text{
                    font-weight: 400;

                    .Sub-text {
                        max-width: 209px;
                        min-width: 209px;
                        color: black;
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;    
                        .Main-text {
                            font-size: 30px;
                        }


                    }
                    .underline {
                        height: 2px;
                        width: 70%;
                        background-color: black;
                        margin-bottom: 2px;
                    }
                }
            }
        }
        .startProj__box__phone {
            display: grid;
            grid-template-columns: 100% 1fr;
            grid-template-rows: auto auto auto auto;
            width: 100%;
            height: 180vw;
            margin: 100px auto;
            background-color: #060607;
            border-radius: 50px;
            padding: 50px;
    
            grid-row: 1;
            grid-column: 1 / span 2;
    
            h1 {
                color: #BBE903;
                font-family: Poppins;
                font-size: 28px;
                font-style: normal;
                font-weight: 600;
                line-height: 29.194px; /* 97.313% */
                text-transform: uppercase;
                min-width: 353px;
                max-width:353px ;
                overflow: hidden;
            }
    
            .startProj__main__text {
                grid-row: 1;
                grid-column: 1 / span 2;
            }
    
            .startProj__button {
                margin-top: 130px;
                display: flex;
                align-items: end;
                gap: 25px;
                @media screen and (min-width:375px ) and (max-width: 375px){
                    gap: 0;
                }
                button {
                    display: flex;
                    align-items: flex-start;
                    gap: 11.446px;
                    color: #BBE903;
                    font-size: 27px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20.603px;
                    padding: 15.471px 40.941px;
                    text-transform: uppercase;
                    border-radius: 68.676px;
                    
                }
    
                p {
                    color: #FFF;
                    font-family: 'Danube' , sans-serif;
                    font-size: 21px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
    
            .startProj__text {
                grid-column: 1 / span 2;
                grid-row: 1;
    
                .star{
                    stroke: #BBE903;
                }
                h3 {
                    color: #BBE903;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
    
                p {
                    color: #FFF;
                    font-family: Poppins;
                    font-size: 19px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                }
            }
    
    
    
    

    
            .startProj__text {
                grid-row: 5;
                grid-column: 1;
                align-self: center;
    
                h1 {
                    color: #BBE903;
                    font-size: 20px;
                }
    
                p {
                    color: white;
                    font-size: 16px;
                }
            }
    
            .button__container {
    
                gap: 5px;
                cursor: pointer;
                button {
                    display: flex;
                    align-items: flex-start;
                    color: #BBE903;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20.603px;
                    text-transform: uppercase;
                    border-radius: 68.676px;
                    padding: 3.875px 23.751px;
                    max-width: 200px;
                    min-width: 200px;
    
                    @media screen and (min-width: 768px) and (max-width: 820px) {
                        font-size: 20px;
                    }
                }
    
                .arrow-icon-button {
                    width: 29.194px;
                    height: 29.194px;
                }
            }
    
    
        }
    }

}