.contact-box-wrapper {
    background-color: #16161D;
    height: auto;
    border-radius: 100px 100px 0 0;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .contact-box-container {
        background-color: transparent;

        .contact-box-inputs,
        .contact-box-select {
            margin-bottom: 30px;
        }

        .contact-box-textarea {
            label {
                display: block;
                margin-bottom: 0.5rem;
                color: #333; // Adjust the color to fit your design
                font-weight: bold;
            }

            input[type="text"],
            textarea {
                width: 100%;
                padding: 0.5rem;
                margin-bottom: 1rem;
                border: 1px solid #ccc;
                border-radius: 4px;

                &:focus {
                    outline: none;
                    border-color: #007bff;
                    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
                }
            }

            .contact-box-textarea {
                textarea {
                    height: 150px;
                    resize: vertical;
                }
            }
        }
        .contact-box-button {
            display: flex;
            justify-content: start;
        }

        .input-container {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;

            label {
                color: #fff;
                margin-bottom: 5px;
            }

            input {
                background-color: transparent;
                border: none;
                border-bottom: 1px solid #fff;
                color: #fff;
                padding: 10px 0;

                &::placeholder {
                    color: #aaa;
                }

                &:focus {
                    outline: none;
                }
            }
        }

        .contact-box-select {
            h1 {
                color: #fff;
                margin-bottom: 20px;
            }

            .options {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                justify-content: center;

                .option {
                    display: flex;
                    align-items: center;

                    input[type="radio"] {
                        margin-right: 5px;
                        cursor: pointer;
                        appearance: none;

                        &:before {
                            content: '';
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            border: 2px solid #fff;
                            border-radius: 50%;
                            margin-right: 10px;
                            vertical-align: middle;
                        }

                        &:checked:before {
                            background-color: #fff;
                        }
                    }

                    .label-text {
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

// Media query for phone screens
@media (max-width: 768px) {
    .contact-box-wrapper {
        border-radius: 30px 30px 0 0;
        padding: 30px;
        height: 130vh;
        .contact-box-container{
            gap: 10px;
            .contact-box-select{
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                .options{
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: start;
                    align-items: start;
    
    
                }
            }
        }
    }

   

    // Add any additional style adjustments for mobile here
}
