.excellence__container{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content:  space-between;
    align-items: center;
    .element-left{
        max-width: 35%;
        h1{
            font-weight: 500;
            font-size: 35px;
            line-height: 45px;
            overflow: hidden;
            span{
                color: #BBE903;
            }
        }
    }
    .specialWords{
        color: #BBE903;
    }
}

@media screen and (min-width: 1440px) {
    .excellence__container {
        /* يمكنك تعديل الخصائص هنا لتناسب الشاشات الكبيرة جدًا */
        .element-left {
            h1 {
                font-size: 50px; /* زيادة حجم الخط للشاشات الكبيرة */
                /* إضافة أية خصائص أخرى تريدها */
            }
            img{
                width: 40%;
                height: 60%;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .excellence__container {
        width: 100%;
        height: fit-content;
        margin: 100px auto;
        display: grid;
        grid-template-columns: 40% 1fr; /* يحدد عمودين، الأول بعرض 40% والثاني يأخذ المساحة المتبقية */
        grid-template-rows: auto auto auto auto; /* يحدد أربعة صفوف بارتفاع تلقائي */
        gap: 20px; /* المسافة بين الأعمدة والصفوف */
        .element-right{
            grid-column: 1 /span 2; /* يضع startProj__right في العمود الأول */
            grid-row: 1 /span 3 ; /* يمتد على طول الأربعة صفوف */
 
            
            p{
                font-size: 20px;
                font-weight: 600;
            }
        }
        .element-left{       
            justify-self: end;     
            grid-column:2; /* يضع startProj__left في العمود الثاني */
            grid-row: 10   ; /* يوضع في الصف الأول */
            max-width: 100%;
            p{
                font-size: 21px;
                font-weight: 600;
            }
        }

    }
}
@media screen and (max-width: 767px) {
    .excellence__container {
        height:auto;
        .hero_main {
            h1 {
                font-size: 25px;
            }
        }
        .element-left{
            display: flex;
            flex-direction: column;
            margin-top: 100px;
            max-width: 100%;
            gap: 30px;
            p{
                font-size: 17px;
            }
        }

    }
}