@import '../../styles/desktop/home/index';
@import '../../styles/mobile/home/index';
@import '../../styles/tablet/home/index';

.home__wrapper {
  background-color: #eeeaea;
  padding-top: 200px;
  .home__container{
    margin: 0 auto;
    max-width: 1440px;
  }
}

.Footnotes {
  padding-left: 5%;
  padding-right: 5%;


}


