.hero__container {
    width: 100vw;

    .hero_main {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        height: 500px;
        min-width: 895px;
        max-width: 895px;
        margin: 0 auto;

        img {
            position: absolute;
            min-width: 100vw;
            min-height: 500px;
            right: 0;
        }

        h1 {
            color: #16161D;
            font-family: ItalianPlateNo1Expanded, Helvetica, Arial, sans-serif;
            font-style: normal;
            font-size: 120px;
            font-weight: 400;
            line-height: 90px;
            max-width: 750px;
            margin: 0 auto;

            /* 112.5% */

            overflow: hidden;
        }
    }
}



/* للشاشات التي يقل عرضها عن 767px */
@media screen and (max-width: 767px) {
    .hero__container {
        height: 400px;
        overflow: hidden;

        .hero_main {
            h1 {
                color: var(--color-1, #16161D);
                font-family: Poppins;
                font-size: 30px;
                font-style: normal;
                font-weight: 600;
                line-height: 35px;
                /* 116.667% */
                text-transform: uppercase;
                max-width: 351px;
                min-width: 351px;
                overflow: hidden;
            }
        }
    }
}

/* للشاشات بين 768px و 1024px */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .hero__container {

        padding-top: 5%;

        .hero_main {
            h1 {
                font-family: Poppins;
                font-size: 50px;
                font-style: normal;
                font-weight: 600;
                line-height: 60px;
                /* 120% */
                text-transform: uppercase;
                max-width: 602px;
                min-width: 602px;

            }

        }
    }
}

/* للشاشات التي تزيد عن 1440px */
@media screen and (min-width: 1440px) {
    .hero__container {
        overflow: hidden;
        padding-top: 5%;

        .hero_main {
            h1 {

                font-size: 90px;

            }

            img {
                height: 500px;
            }
        }
    }
}


/* خصائص CSS للشاشات الكبيرة جدًا (أكبر من 1440px) */