.hero__container {
    width: 100vw;

    .hero_main {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        height: 500px;

        img {
            position: absolute;
            min-width: 100vw;
            min-height: 500px;
            right: 0;
        }
    
        h1 {
            color: var(--color-1, #16161D);
            font-family: Poppins;
            font-size: 80px;
            font-style: normal;
            font-weight: 600;
            line-height: 90px; /* 112.5% */
            text-transform: uppercase;
            
            overflow: hidden;
        }
    }
}    



/* للشاشات التي يقل عرضها عن 767px */
@media screen and (max-width: 767px) {
    .hero__container {
        height:auto;
        .hero_main {
            h1 {
                font-size: 25px;
            }
        }
    }
}

/* للشاشات بين 768px و 1024px */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .hero__container {
        padding-top: 5%;
        .hero_main {
            h1 {
                font-family: Poppins;
                font-size: 50px;
                font-style: normal;
                font-weight: 600;
                line-height: 60px; /* 120% */
                text-transform: uppercase;
                }
            img {
                width: 50%;
                height: 200px;
            }
        }
    }
}

/* للشاشات التي تزيد عن 1440px */
@media screen and (min-width: 1440px) {
    .hero__container {
        overflow: hidden;
        padding-top: 5%;
        .hero_main {
            h1 {
                color: var(--color-1, #16161D);
                font-family: Poppins;
                font-size: 90px;
                font-style: normal;
                font-weight: 600;
                line-height: 90px; /* 112.5% */
                text-transform: uppercase;
            }
            img {
                height: 500px;
            }
        }
    }
}


/* خصائص CSS للشاشات الكبيرة جدًا (أكبر من 1440px) */


