.hero__container {
    width: 100vw;
    overflow: hidden;
    .hero_main {
        display: flex;
        flex-direction: row;
        justify-content: end;
        height: 500px; // قيمة افتراضية للارتفاع
        max-width: 1400px;
        h1 {
            color: #16161D;
            font-family: 'Poppins', sans-serif; // توحيد الخط ليناسب جميع الأحجام
            font-size: calc(30px + (90 - 30) * ((100vw - 768px) / (1440 - 768))); // تغيير حجم الخط بشكل سلس مع تغير حجم الشاشة
            font-weight: 400;
            line-height: 1; // نسبة ثابتة لتحسين القراءة
            max-width: 850px;
            max-height: 600px;
            overflow: hidden;
            text-transform: uppercase; // استخدام التحويل إلى أحرف كبيرة
        }
    }
}

