.suggestion-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 150px;
    min-width: 1200px;
    max-width: 1200px;
    color: white;

    .suggestion-header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;

        .suggestion-text {
            color: #FFF;
            font-family: Poppins;
            font-size: 82px;
            font-style: normal;
            font-weight: 400;
            line-height: 78px; /* 95.122% */
            letter-spacing: -3.28px;
            overflow: hidden;
            max-width: 550px;
            min-width: 550px;
            min-height: 200px;
            max-height: 200px;
        }

        .suggestion-text-sub {
            display: flex;
            align-items: center;
            width: max-content;
            height: max-content;
            padding: 10px;
            gap: 10px;
            cursor: pointer;

            p {
                font-weight: 600;
                font-size: 20px;
            }
        }
    }

    .posts-container {
        display: flex;
        justify-content: space-between;
        width: 100%;

    }

    .post-card {
        text-decoration: none;

        .post-link {
            text-decoration: none;
            color: white;

            .image-article {
                border-radius: 50px;
                width: 380px;
                height: 453px;
            }

            .title-article {
                display: flex;
                align-items: center;
                gap: 5px;

                h2 {
                    font-weight: 500;
                    font-size: 20px;
                    color: white;
                }
            }
        }
    }
}

@media screen and (min-width: 1441px) {
    .suggestion-wrapper {
        max-width: 60vw;

    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .suggestion-wrapper {
        min-width: 90vw;
        max-width: 90vw;
        width: 90vw;

        .suggestion-header {
            display: flex;
            flex-direction: row-reverse;
            margin-bottom: 50px;

            .suggestion-text {
                color: #FFF;
                font-family: Poppins;
                font-size: 67px;
                font-style: normal;
                font-weight: 400;
                line-height: 64px;
                /* 95.522% */
                letter-spacing: -2.71px;
                height: 200px;
                max-height: 200px;
                max-width: 437px;
                min-width:437px;

                
            }

        }

        .posts-container {
            .post-card {
                .image-article {
                    width: 420px;
                    height: 512px;

                    @media screen and (min-width: 768px) and (max-width: 820px) {
                        width: 340px;
                    }
                }

                .post-link {
                    .title-article {
                        h2 {
                            font-size: 18px;

                            @media screen and (min-width: 768px) and (max-width: 820px) {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .suggestion-wrapper {
        min-width: 90vw;
        max-width: 90vw;
        .suggestion-header {
            flex-direction: column-reverse;
            align-items: normal;
            padding-left: 10px;
            padding-left: 10px;
            gap: 30px;

            .suggestion-text {
                font-size: 40px;
                line-height: 45px;
                max-width: 300px;
                min-width: 100px;
                max-height: 100px;
            }

            .suggestion-text-sub {
                justify-self: end;
                align-self: flex-end;
            }
            .suggestion-title {
                font-size: 20px;
                display: none;
            }
        }



        .posts-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .post-card {
                .image-article {
                    min-width: 90vw;
                    max-width: 90vw;
                    height: 453px;
                }

                .post-link {
                    .title-article {
                        h2 {
                            font-size: 16px;

                            @media screen and (min-width: 768px) and (max-width: 820px) {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}