.suggestion-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 200px;

    .posts-container {
        display: flex;
        justify-content: space-between;
        width: 100%;

    }

    .post-card {
        text-decoration: none;

        .post-link {
            text-decoration: none;
            color: white;

            .image-article {
                border-radius: 50px;
                width: 300px;
                height: 400px;
            }
            .title-article{
                display: flex;
                gap: 30px;
            }
        }
    }
}