.buttonWrapper {
  display: flex;
  align-items: center;
  gap: 5px;

  .button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 15px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    transition: color 0.4s ease;
    z-index: 2;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

    a {
      text-decoration: none;
      color: red;
      transition: color 0.4s ease; /* Add transition for the color of the link */
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      transform: translateY(100%);
      transition: transform 0.4s ease;
      border-radius: 30px;
      z-index: -1;
    }

    &:hover {
      color: black;

      a {
        color: black; /* Change color of the link to black on hover */
      }
    }

    &:hover::after {
      transform: translateY(0);
    }
  }
}

.effectTextNavBar-dark {
  flex-direction: none;
  color: white; // Default text color
  text-transform: uppercase; // Uppercase all letters
  position: relative; // Position relative to allow absolute positioning of pseudo-elements
  font-weight: 600;
  text-decoration: none;
  

  // Create a pseudo-element for the underline effect
  &::after {
    content: '';
    position: absolute; // Absolute position to place it directly under the text
    left: 0;
    bottom: 0;
    width: 0; // Start with a width of 0 to make it invisible initially
    height: 2px; // Height of the underline
    background: white; // Color of the underline
    transition: width 0.5s ease; // Transition for the width to create the effect
  }

  // On hover, expand the underline to the full width of the element
  &:hover::after {
    width: 100%; // Full width to make the underline visible
  }

  // On hover, change the color of the text
  &:hover {
    transition: color 0.5s ease; // Transition for the color change
  }
}
.effectTextNavBar-light {
  color: black; // Default text color
  text-transform: uppercase; // Uppercase all letters
  position: relative; // Position relative to allow absolute positioning of pseudo-elements
  font-weight: 600;
  text-decoration: none;

  // Create a pseudo-element for the underline effect
  &::after {
    content: '';
    position: absolute; // Absolute position to place it directly under the text
    left: 0;
    bottom: 0;
    width: 0; // Start with a width of 0 to make it invisible initially
    height: 2px; // Height of the underline
    background: #BBE903; // Color of the underline
    transition: width 0.5s ease; // Transition for the width to create the effect
  }

  // On hover, expand the underline to the full width of the element
  &:hover::after {
    width: 100%; // Full width to make the underline visible
  }

  // On hover, change the color of the text
  &:hover {
    transition: color 0.5s ease; // Transition for the color change
  }
}

