$primary-color: #BBE903; // اللون الأساسي
$secondary-color: #16161D; // اللون الثاني
$tertiary-color : #0E0E0E; // اللون الثاني
$background-color: #16161D; // اللون الثاني
$background-color-purple:#725AD0;
$padding-large: 20px; // حجم الحشوة الكبير
$font-icon: 'Danube', sans-serif; // نوع الخط
