@import "@/styles/index.scss";
.about_us_team_wrapper {
  background-color: #f9f9f9;
  width: 100%;
  .container {
    padding: 150px 0px;
    max-width: 1184px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 65px;
    .heading-container {
      max-width: 573px;
      text-align: center;
      margin: auto;
      display: flex;
      gap: 20px;
      flex-direction: column;

      h1 {
        color: #16161d;
        font-size: 62px;
        font-weight: 600;
        line-height: 66px; /* 106.452% */
        letter-spacing: -2.48px;
        overflow: hidden;
      }
      p {
        font-size: 22px;
        font-weight: 400;
        line-height: 28px; /* 127.273% */
        letter-spacing: -0.22px;
        overflow: hidden;
      }
    }
    .team-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 129px;
      overflow: hidden;
      column-gap: 80px;
      .team-item-container {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 54px;
        justify-content: center;
        .image {
          padding-top: 89px 41px;
        }
        .text-wrapper {
          display: flex;
          flex-direction: column;
          text-align: center;
          h3 {
            font-size: 20px;
            font-weight: 600;
          }
          p {
            font-size: 16px;
            font-weight: 400;
          }
        }
      }
    }
    .modal-wrapper {
      min-width: 484px; 
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 19.2px;
      z-index: 100;
      padding: 26px 61.6px; 
      background-color: white;
      border-radius: 16px; 
      overflow: hidden;
    
      .image-modal {
        width:60%; 
        height:60%; 
        img {
          width: 100%;
          height: auto;
        }
      }
    
      .modal-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .flex {
          display: flex;
          align-items: center;
          gap: 9.6px; 
        }

      }
    
      .desc-wrapper {
        margin-top: 19.2px; 
        display: flex;
        flex-direction: column;
        gap: 25.6px; 
        .flex-desc {
          display: flex;
          align-items: center;
          gap: 8px; 
          .text-desc {
            font-size: 17.6px; 
            font-weight: 400;
            line-height: 22.4px; 
            overflow: hidden;
          }
        }
      }
    
      // .motto-wrapper {
      //   margin: auto;
      //   margin-top: 24px;
      //   display: flex;
      //   align-items: center;
      //   flex-direction: column;
      //   gap: 9.6px; 
      //   color: #16161d;
    
      //   text-align: center;
      //   font-size: 14.4px; 
      //   font-style: normal;
      //   font-weight: 400;
      //   line-height: 22.4px; 
      //   letter-spacing: -0.176px; 
      //   .motto-flex {
      //     display: flex;
      //     gap: 4.8px; 
      //     align-items: center;
      //     font-weight: 500;
      //   }
      //   .motto-desc {
      //     width: 224px;
      //   }
      // }
    }
    
    .modal-container{
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.1);
      height: 100vh;
      width: 100vw;
      z-index: 999999;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .modal-underlay {
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.1);
      height: 100vh;
      width: 100vw;
      z-index: 999999;
    }
  }
  @media screen and (max-width: 768px) {
    .container{
      .team-wrapper {
        grid-template-columns: repeat(2, 1fr);
      }
      .modal-wrapper{
        min-width: 384px; 

        top: 20%;
        left: 0;
      }
    }
  }
  
}


